<div class="container col-8">
  <div class="navbar navbar-light bg-light">
    <p>
      <%= link_to new_list_bookmark_path(@list) do%>
        <i class="fas fa-plus btn btn-ghost">Add Bookmark</i>
      <% end %>
    </p>

    <p>
      <%= link_to lists_path do%>
        <i class="fas fa-arrow-alt-circle-left btn btn-ghost"> Back to Lists</i>
      <% end %>
    </p>
  </div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pbs.twimg.com/media/ESNhDyHWsAATd_a.jpg)">
    <h1> Movie Shows here</h1>
  </div>
  <div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card p-3" style="width: 18rem;">
      <%= image_tag bookmark.movie.poster_url %>
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p><i class="fas fa-star text-warning"></i> <%= bookmark.movie.rating %> </p>
        <p class="card-text"> <%= bookmark.movie.overview[1..70] %> </p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
     <%end %>
  </div>
</div>
