<div class="container col-6">
<h1 class="text-center">Add Bookmark</h1>
<h2 ><%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</h2>

<p><%= link_to lists_path do%>
  <i class="fas fa-arrow-alt-circle-left"> Back to Lists</i>
<% end %>
</p>
</div>
